<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div th:each="produto : ${produtos}">
    <div>Produto</div>

    <div th:text="${produto.nomeProduto}">Nome do Produto</div>

    <div>URL do Produto:</div>
    <div> <input th:value="${produto.urlProduto}" value="URL do Produto"/></div>

    <div>Descrição do Produto:</div>
    <div>
        <textarea th:text="${produto.descricaoProduto}">Descrição do Produto</textarea>
    </div>

    <div>Preço do Produto: <span th:text="${produto.precoProduto}">R$37.498,00</span></div>

    <div>Preço Promocional do Produto: <span th:text="${produto.precoPromocionalProduto}">R$3.4000,99</span></div>

    <div>Classe Fiscal</div>
    <div>
        <textarea th:text="${produto.classeFiscalProduto}">Classe Fiscal do Produto</textarea>
    </div>
</div>

</body>
</html>